
p {
  font-family: sans-serif;
  color: Black;
}

li {
  background-color: black;
  border: 5px solid black;
  margin-bottom: 5px;
}

.button {
  background-color: #3d5b9f; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
    
